"""
/*OS SEGUINTES DADOS SÃO REFERENTES DA TEMPORADA 2026, DO DIA 09/08/2026. DESSA FORMA, 
OS DADOS DOS INSERTS PODEM ESTAR DESATUALIZADOS. UTILIZE AS PROCEDURES PARA
ATUALIZAR */

/*CASO USE AS PROCEDURES PARA ATUALIZAR OS DADOS, NÃO UTILIZE A 'DROP TABLE' APÓS UTILIZAR AS PROCEDURES, POIS A TABELA IRÁ VOLTAR AOS DADOS ORIGINAIS*/
/* 
MAPA DO REPOSITÓRIO (PASTAS):

- () - TABELA ORIGINAL E INSERTS
- () - VIEWS PARA VISUALIZAÇÃO DE DADOS
- () - PROCEDURES PARA ATUALIZAÇÕES DE DADOS

*/
"""
